{% extends "main_template.html" %}
{% block content %}
<div>
    <div class="container py-4 py-xl-5">
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2>Про нас</h2>
                <p class="w-lg-50">Представляємо вам набір інструментів для управління контентом, розроблених для оптимізації робочого процесу та підвищення продуктивності. Наші інструменти зручні та інтуїтивно зрозумілі, вони допоможуть вам легко створювати високоякісний контент.</p>
            </div>
        </div>
        <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
            <div class="col">
                <div class="p-4"><span class="badge rounded-pill bg-primary mb-2">Інструмент</span>
                    <h4>Генератор опису товару</h4>
                    <p>Представляємо наш потужний інструмент на основі штучного інтелекту, який генерує переконливі описи товарів та ефективні пошукові запити за лічені секунди! Просто введіть назву продукту, а наша інноваційна технологія зробить все інше. Попрощайтеся з трудомістким створенням контенту вручну і привітайте підвищення продуктивності та продажів. Спробуйте вже зараз!</p>
                </div>
            </div>
            <div class="col">
                <div class="p-4"><span class="badge rounded-pill bg-primary mb-2">Інструмент</span>
                    <h4>Генератор опису категорії</h4>
                    <p>Представляємо вам наш генератор описів категорій на основі штучного інтелекту - просто введіть назву вашої категорії і дозвольте нашій моделі виконати роботу по створенню високоякісних, переконливих описів для ваших категорій товарів.</p>
                </div>
            </div>
            <div class="col">
                <div class="p-4"><span class="badge rounded-pill bg-primary mb-2">Інструмент</span>
                    <h4>Робота із зображеннями</h4>
                    <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}