{% extends "main_template.html" %}
{% block content %}
<div>
    <main class="container my-5">
        <div class="row">
          <div class="col-md-8 mx-auto text-center">
            <h1 class="display-4 mb-4">Ласкаво просимо до PromCat</h1>
            <p class="lead mb-4">
                Платформа для інструментів управління контентом, розроблена спеціально для маркетплейсу PROM.UA! Наші інноваційні інструменти допоможуть вам створювати привабливі та цікаві описи товарів, а також генерувати ефективні пошукові запити, щоб ви могли покращити видимість своїх товарів та збільшити продажі.
            </p>
            <p class="mb-4">
                Незалежно від того, чи є ви досвідченим контент-менеджером, чи тільки починаєте, PromCat має інструменти, необхідні для створення високоякісного контенту з легкістю. А з появою нових інструментів ви можете розраховувати на те, що PromCat стане вашим універсальним рішенням для всіх ваших потреб в управлінні контентом.
            </p>
          </div>
        </div>
      </main>
</div>
{% endblock %}