<div class="container">
    <div class="row">
        <div class="col-md-6">
            <section class="py-4 py-xl-5">
                <div class="container">
                    <div class="border rounded border-0 d-flex flex-column justify-content-center align-items-center p-4 py-5" style="height: 500px;background: url(/static/images/product_image.webp) center / contain no-repeat;">
                        <div class="row">
                            <div class="col-md-10 col-xl-8 text-center d-flex d-sm-flex d-md-flex justify-content-center align-items-center mx-auto justify-content-md-start align-items-md-center justify-content-xl-center">
                                <div>
                                    <h1 class="text-uppercase fw-bold mb-3">Генератор опису товарiв</h1>
                                    <p class="mb-4">Розвивайте свій бізнес електронної комерції за допомогою PromCat. Створюйте оптимізовані пошукові запити та привабливі описи товарів без зайвих зусиль, підвищуючи органічну видимість, заощаджуючи час і максимізуючи коефіцієнт конверсії для стрімкого зростання продажів.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-6">
            <div class="container" style="padding-top: 48px;padding-bottom: 48px;">
                <div class="col">
                    <div style="padding-top: 0px;padding-bottom: 15px;">
                        <div class="input-group">
                            <input id="user-input" class="form-control" type="text" style="border-top-left-radius: 10px;border-bottom-left-radius: 10px;" placeholder="Назва товару..." />
                            <button class="btn btn-primary" id="gen-product" type="button" style="border-top-right-radius: 10px;border-bottom-right-radius: 10px;">Згенерувати</button>
                        </div>
                    </div>
                    <div style="padding-top: 15px;padding-bottom: 15px;"><textarea id="tag-output" class="form-control" style="min-height: 140px;max-height: 140px;border-top-left-radius: 10px;border-top-right-radius: 10px;" placeholder="Пошукові теги..." readonly></textarea>
                        <div class="btn-group form-control" role="group" style="background: transparent;padding: 0px;">
                            <button class="btn btn-info copy-tags" type="button" style="border-bottom-left-radius: 15px;padding-right: 0px;padding-left: 0px;">Копіювати</button>
                            <button class="btn btn-success disabled" type="button" style="padding-right: 0px;padding-left: 0px;">Українською</button>
                            <button class="btn btn-warning disabled" type="button" style="border-bottom-right-radius: 15px;padding: 0px;">Російською</button>
                        </div>
                    </div>
                    <div style="padding-top: 15px;"><textarea id="description-output" class="form-control" style="min-height: 150px;max-height: 150px;border-top-left-radius: 10px;border-top-right-radius: 10px;" placeholder="Опис товару..." readonly></textarea>
                        <div class="btn-group form-control" role="group" style="background: transparent;padding: 0px;">
                            <button class="btn btn-info copy-desc" type="button" style="border-bottom-left-radius: 15px;padding-right: 0px;padding-left: 0px;">Копіювати</button>
                            <button class="btn btn-success disabled" type="button" style="padding-right: 0px;padding-left: 0px;">Українською</button>
                            <button class="btn btn-warning disabled" type="button" style="border-bottom-right-radius: 15px;padding-right: 0px;padding-left: 0px;">Російською</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>