<div class="container">
    <div class="row justify-content-center" style="margin-top: 20px;margin-bottom: 19px;">
        <div class="col-lg-8 col-xl-8 col-xxl-8" style="margin-top: 10px;margin-bottom: 10px;">
            <div class="input-group"><input id="user-input" class="form-control" type="text" placeholder="Вставте назву" />
                <button class="btn btn-primary" type="button" id="gen-product">Згенерувати</button>
            </div>
        </div>
        <div class="col-lg-8 col-xl-8 col-xxl-8" style="margin-top: 10px;margin-bottom: 10px;">
            <label class="form-label" for="tag-output">Теги пошуку</label>
            <textarea id="tag-output" class="form-control" rows="3" readonly></textarea>
            <button class="btn btn-secondary" type="button">Copy</button></div>
        <div class="col-lg-8 col-xl-8 col-xxl-8" style="margin-top: 10px;margin-bottom: 10px;">
            <label class="form-label" for="description-output">Опис</label>
            <textarea id="description-output" class="form-control" rows="3" readonly></textarea>
            <button class="btn btn-secondary" type="button">Copy</button></div>
    </div>
</div>